<h2 class='User_Header'> <%=@current_user.username%> Profile <h2>
<h2></h2>
<br>
<br><%= link_to "Create word storm!", '/upload', {id: "submit", class: "btn btn-medium btn-primary"}, {:style => "float:center;"}%> 
<%= link_to "View/Edit Your Gallery", '/gallery/view', {id: "submit", class: "btn btn-medium btn-primary"}, {:style => "float:center;"}%> 
<br>
<%= render "layouts/options" %>



<script>
$(function() {
  $('#submit').click(function() {
		//alert("This may take some time. Please be patient.");
		$('#formsubmit').submit();
	
  });
});
</script>