<!DOCTYPE html>
<html>
  <head>
    <title>Wordstorm</title>
  </head>
  <body>
	<p> This site uses cookies. By using this site, you are implicitly agreeing to the use of cookies by this page. </p>
	<div class="center hero-unit">
		<h1>Welcome to the Wordstorm Generator</h1>
		<h2>This is the home page for the wordstorm generator.</h2>
		<% if session[:user_id] %>
		<span><%= link_to "Generate word storm!", '/upload', class: "btn btn-large btn-primary", :style => "float:float;"  %></span>
		<% end %>
		<span><%= link_to "View Gallery of Storms", '/gallery/all', class: "btn btn-large btn-primary", :style => "float:float;" %></span>
	</div>
  </body>
</html>